@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
body {
    overflow-x: hidden;
    color: white;
    font-family: 'Lato', sans-serif;
}


/* Navigation */

.navbar-expand {
    color: white;
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.navbar-brand img {
    height: 10%;
}

.navbar-bar nav {
    padding: .7rem;
}

.navbar-dark .navbar-nav.nav-link {
    color: white;
    padding-top: .8rem;
}


/* Landing Page */

.home-inner {
    position: cover;
    height: fit-content;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
}

.caption h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .3rem;
    text-shadow: .1rem.1rem.8rem black;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem.1rem.5rem black;
    padding-bottom: 1.6rem;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
}